<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Karma:</strong>
  <%= @user.karma %>
</p>

<p>
  <strong>About:</strong>
  <%= @user.about %>
</p>

<%= link_to 'Back', submits_path+'?submit_type=new' %>
