<%= form_for(@submit) do |f| %>
  <% if @submit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@submit.errors.count, "error") %> prohibited this submit from being saved:</h2>

      <ul>
      <% @submit.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :submit_type %><br>
    <%= f.select :submit_type, options_for_select(%w[new question]) %>
  </div>
  <div class="field" id="submit_url_field">
    <%= f.label :url %><br>
    <%= f.url_field(:url) %>
  </div>
  <br><br>
  <div class="actions">
    <%= f.submit %>
  </div>

  <script type="text/javascript">
      $("#submit_submit_type").change(function() {
        $("#submit_url_field").toggle();
    });
  </script>

<% end %>
