<%= link_to 'New Submit', new_submit_path %>

<table>
  <tbody>
    <% @submits.each do |submit| %>
      <tr>
        <td class='itemTitle'><%= link_to submit.title, URI.encode(submit.url) %> (<%= URI.join(submit.url, "/").to_s %>)</td>
      </tr>
      <tr>
        <td class='itemInfo'><%= submit.score %> points by <%= submit.user.name %> <%= time_ago_in_words(submit.created_at) %> ago | <%= link_to 'comments', submit %></td>
        <td><%= submit.submit_type %></td>
      </tr>
      <tr> 
        <td><%= link_to 'Edit', edit_submit_path(submit) %></td>
        <td><%= link_to 'Destroy', submit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


