<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @submit.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @submit.content %>
</p>

<p>
  <strong>Score:</strong>
  <%= @submit.score %>
</p>

<p>
  <strong>Num comments:</strong>
  <%= @submit.num_comments %>
</p>

<p>
  <strong>Url:</strong>
  <%= @submit.url %>
</p>

<p>
  <strong>User:</strong>
  <%= @submit.user_id %>
</p>

<div>
  <%= link_to 'Edit', edit_submit_path(@submit) %> |
  <%= link_to 'Back', submits_path %>
</div>
<br><br>

<h3>Comments: </h3>
<ul>
    <% @comments = Comment.all %>
    <% @comments.each do |comment| %>
      <% @user = User.find(comment.user_id) %>
      <% if @submit.id == comment.submit_id %>
        <li><p>
        <%= link_to @user.name, @user %> |
        <%= time_ago_in_words(comment.created_at) %>
      </p></li>
      <p>
        <%= comment.content %>
      </p>
      <% end %>
    <% end %>
</ul>

