<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @submit.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @submit.content %>
</p>

<p>
  <strong>Score:</strong>
  <%= @submit.score %>
</p>

<p>
  <strong>Num comments:</strong>
  <%= @submit.num_comments %>
</p>

<p>
  <strong>Url:</strong>
  <%= @submit.url %>
</p>

<p>
  <strong>User:</strong>
  <%= @submit.user_id %>
</p>

<div>
 <!-- <% Comment.find() %> -->
</div>

<%= link_to 'Edit', edit_submit_path(@submit) %> |
<%= link_to 'Back', submits_path %>
