<p id="notice"><%= notice %></p>

<table>
  <tbody>
      <tr>
        <td class='itemTitle'>
          <% if @submit.url %>
            <%= link_to @submit.title, URI.encode(@submit.url) %> (<%= URI.join(@submit.url).to_s %>)</td>
          <% else %>
            <%= @submit.title %>
          <% end %>
      </tr>
      <tr>
        <td class='itemInfo'><%= @submit.score %> points by <%= @submit.user.name %> <%= time_ago_in_words(@submit.created_at) %> ago</td>
        <td>(<%= @submit.submit_type %>)</td>
      </tr>

      <tr>
        <td><%= link_to 'Edit', edit_submit_path(@submit) %></td>
        <td><%= link_to 'Destroy', @submit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>

  </tbody>
</table>

<%= link_to 'Edit', edit_submit_path(@submit) %> |
<%= link_to 'Back', submits_path+'?submit_type=new' %>


<h3 class="strongBody">Comments: </h3>
<%= link_to 'New comment', '/comments/new/'+String(@submit.id) %>
<ul>
    <% @submit.comments.each do |comment| %>

      <%if comment.parent_id.nil? %>
        <li><p>
        <%= link_to '[+]', '/comments/upvote/'+String(comment.id) %>
        <%= comment.score %> points by
        <%= link_to comment.user.name, comment.user %> |
        <%= time_ago_in_words(comment.created_at) %> |
        <%= link_to 'reply', '/comments/new/'+String(@submit.id)+'/'+String(comment.id) %>
      </p></li>
      <p>
        <%= comment.content %>
      </p>
      <% @submit.comments.each do |reply| %>
        <%if reply.parent_id == comment.id%>
          <blockquote><li type='circle'>
          <%= link_to '[+]', '/comments/upvote/'+String(reply.id) %>
          <%= reply.score %> points by
          <%= link_to reply.user.name, reply.user %> |
          <%= time_ago_in_words(reply.created_at) %> |
        </li></blockquote>
        <blockquote>
          <%= reply.content %>
        </blockquote>
        <%end%>
        <%end%>
      <%end%>
    <% end %>
</ul>
