<!DOCTYPE html>
<html>
<head>
  <title>Facker News</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id='webHeader'>
    <img src='/assets/y18.gif'/><h1><%= link_to 'Facker News', root_url %></h1>
    
    <% if current_user %>
      Signed in as <strong><%= current_user.name %></strong>!
      <%= link_to "Sign out", signout_path, id: "sign_out" %>
    <% else %>
      <%= link_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in" %>
    <% end %>
  </div>

<%= yield %>
<div id='footer'></div>
<p id='footerParagraph'>Guidelines | FAQ | Support | API | Lists | Bookmarklet | DMCA | Y Combinator | Apply | Contact</p>
<form id='searchMain' action="demo_form.asp">
	  Search: <input type="text" name="fname"><br>
	      <input type="hidden" value="Submit">
</form>
</body>
</html>
