<!DOCTYPE html>
<html>
<head>
  <title>Facker News</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id='webHeader'>
    <img src='/assets/original.png'/><h1><%= link_to 'Facker News', root_url %></h1>
    
  <div id='sign_out'>
    <% if current_user %>
      Signed in as <strong><%= current_user.name %></strong> !
      <%=link_to "Sign out", signout_path%>
    <% else %>
      <a href="/auth/google_oauth2">
        <img id='googlesign'src="/assets/google.png">
      </a>
    <% end %>
   </div>
  </div>

<%= yield %>
<div id='footer'></div>
<p id='footerParagraph'> Facultat d'Informàtica de Barcelona | Ignacio Lucero | Pol Verdaguer | Zhouyang Xue | Marc Garnica</p>
</body>
</html>
